<html lang="en">

<%- include('./partials/head.ejs')%>

<body>
  <h1>Home</h1>
  <h2>Your path to becoming a Node.js ninja!</h2>
    <h1>Home</h1>
    <h2>Your path to becoming a Node.js ninja!</h2>
    <%- include('./partials/nav.ejs')%>
  <div class="about content">
    <h2>About us</h2>
  </div>
</body>
<%- include('./partials/foot.ejs')%>
</html>

</html>